<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-gstracker" version="0.0.1">
    <name>GSTracker</name>

    <description></description>
    <license>MIT</license>

    <keywords>cordova,android</keywords>
    <repo>https://github.com/maarqin/gstracker.git</repo>
    <issue>https://github.com/maarqin/gstracker/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/gstracker.js" name="gsTracker">
        <clobbers target="window.plugins.gsTracker" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GSTracker">
                <param name="android-package" value="com.gstracker.cordova.plugin.GSTracker"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="application">
            <service android:enabled="true" android:exported="true" android:name="com.gstracker.cordova.plugin.SensorActivityService" />
            <service android:enabled="true" android:exported="true" android:name="com.gstracker.cordova.plugin.LocationUpdatesService" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
        </config-file>

        <source-file src="src/android/BaseCallBack.java" target-dir="src/com/gstracker/cordova/plugin" />
        <source-file src="src/android/BasePositioningApi.java" target-dir="src/com/gstracker/cordova/plugin" />
        <source-file src="src/android/CompositePKPosition.java" target-dir="src/com/gstracker/cordova/plugin" />
        <source-file src="src/android/LocationUpdatesService.java" target-dir="src/com/gstracker/cordova/plugin" />
        <source-file src="src/android/Position.java" target-dir="src/com/gstracker/cordova/plugin" />
        <source-file src="src/android/RESTfulClient.java" target-dir="src/com/gstracker/cordova/plugin" />
        <source-file src="src/android/SensorActivityService.java" target-dir="src/com/gstracker/cordova/plugin" />
        <source-file src="src/android/SuccessCallback.java" target-dir="src/com/gstracker/cordova/plugin" />
        <source-file src="src/android/Utils.java" target-dir="src/com/gstracker/cordova/plugin" />
        <source-file src="src/android/SupportPermissions.java" target-dir="src/com/gstracker/cordova/plugin" />
        <source-file src="src/android/GSTracker.java" target-dir="src/com/gstracker/cordova/plugin" />

        <framework src="com.google.android.gms:play-services-location:15.0.1" />
        <framework src="com.squareup.retrofit2:retrofit:2.3.0" />
        <framework src="com.squareup.retrofit2:converter-gson:2.3.0" />
        <framework src="com.google.code.gson:gson:2.8.2" />
        <framework src="com.orhanobut:hawk:2.0.1" />
        
        <hook type="before_compile" src="hook/hook.js" />

    </platform>
</plugin>
