<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-gstracker" version="0.0.1">
    <name>GSTracker</name>

    <description></description>
    <license>MIT</license>

    <keywords>cordova,android</keywords>
    <repo>https://github.com/maarqin/gstracker.git</repo>
    <issue>https://github.com/maarqin/gstracker/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/gstracker.js" name="gsTracker">
        <clobbers target="window.plugins.gsTracker" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GSTracker">
                <param name="android-package" value="com.gstracker.cordova.plugin.GSTracker"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="application">
            <service android:enabled="true" android:exported="true" android:name="com.gstracker.cordova.plugin.SensorActivityService" />
            <service android:enabled="true" android:exported="true" android:name="com.gstracker.cordova.plugin.LocationUpdatesService" />
            <receiver android:name="com.gstracker.cordova.plugin.BootReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
            </receiver>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
        </config-file>

        <source-file src="src/android/BaseCallBack.java" target-dir="src/com/gstracker/cordova/plugin" />
        <source-file src="src/android/BasePositioningApi.java" target-dir="src/com/gstracker/cordova/plugin" />
        <source-file src="src/android/CompositePKPosition.java" target-dir="src/com/gstracker/cordova/plugin" />
        <source-file src="src/android/LocationUpdatesService.java" target-dir="src/com/gstracker/cordova/plugin" />
        <source-file src="src/android/Position.java" target-dir="src/com/gstracker/cordova/plugin" />
        <source-file src="src/android/RESTfulClient.java" target-dir="src/com/gstracker/cordova/plugin" />
        <source-file src="src/android/SensorActivityService.java" target-dir="src/com/gstracker/cordova/plugin" />
        <source-file src="src/android/SuccessCallback.java" target-dir="src/com/gstracker/cordova/plugin" />
        <source-file src="src/android/Utils.java" target-dir="src/com/gstracker/cordova/plugin" />
        <source-file src="src/android/SupportPermissions.java" target-dir="src/com/gstracker/cordova/plugin" />
        <source-file src="src/android/GSTracker.java" target-dir="src/com/gstracker/cordova/plugin" />
        <source-file src="src/android/BootReceiver.java" target-dir="src/com/gstracker/cordova/plugin" />

        <framework src="com.google.android.gms:play-services-location:11.6.2" />
        <framework src="com.squareup.retrofit2:retrofit:2.3.0" />
        <framework src="com.squareup.retrofit2:converter-gson:2.3.0" />
        <framework src="com.google.code.gson:gson:2.8.2" />
        <framework src="com.orhanobut:hawk:2.0.1" />
        
        <hook type="before_compile" src="hook/android/hook.js" />

    </platform>
    <platform name="ios">
        <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>Please enable location services to allow the app to track in the background</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>Please enable location services to allow the app to track in the background</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>Please enable location services to allow the app to track</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSMotionUsageDescription">
            <string>Please enable motion to allow step counting</string>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>fetch</string>
		        <string>location</string>
            </array>
        </config-file>

        <config-file target="config.xml" parent="/*">
            <feature name="GSTracker">
                <param name="ios-package" value="GSTracker" />
            </feature>
        </config-file>
        <header-file src="src/ios/GSTracker.h" />
        <source-file src="src/ios/GSTracker.m" />
        <header-file src="src/ios/GLManager.h" />
        <source-file src="src/ios/GLManager.m" />
        <header-file src="src/ios/LOLDatabase.h" />
        <source-file src="src/ios/LOLDatabase.m" />

        <framework src="UIKit.framework" />
        <framework src="CoreMotion.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="ExternalAccessory.framework" />
        <framework src="UserNotifications.framework" />
        <framework src="SystemConfiguration.framework" />

        <framework src="AFNetworking" type="podspec" spec="~> 3.0" />
        <framework src="FMDB" type="podspec" spec="~> 2.7" />

        <hook type="before_compile" src="hook/ios/hook.js" />
    </platform>
</plugin>
